body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ---- My Setting ---- */

body {
  margin: 1em 2em;
  /*background-color:#384550;*/
  background-color:#f3f9ff;
  color: #2c3031;
}

.toolBar {
  margin-bottom: 2em;
}

.toolBar a {
  margin-right: 0.5em;
  padding: 0.5em 1em;
  border-radius: 2em;
  /*background-color: #0b2141;*/
  background-color: #b2ddfa;
  color: #375d80;
  text-decoration: none;
}

.toolBar a:hover {
  background-color: #9edee6;
}

table {
  border: 1px solid  rgb(169, 182, 190);
}

.replay {
  border: 10px solid  rgb(167, 197, 214);
}

th {
  padding: 0.5em;
  /*background-color: #2a3e49;*/
  background-color: #b5e5ff;
  text-align: left;
}

th:hover {
  background-color: #9edee6;
}

td {
  border-top: 1px solid  rgb(169, 182, 190);
  padding: 0.25em;
}

.cell-0 { width: 16em; }
.cell-1 { width: 8em; }
.cell-3 { width: 16em; }
.cell-4 { width: 5em; }
.cell-4 { width: 8em; }

td input {
  margin: 0;
  padding: 0;
  width: 100%;
}

ul {
  padding: 0em 1em;
}
